<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Factory | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <nav>
            <h2>Job Factory</h2>
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li><a href="/allJobs">Jobs</a></li>
                <li><a class="active" href="/allEmployers">Employers</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <div class="header">
            <h1>Employers Available</h1>
        </div>
    </section>

    <section>
        <div class="job-cards-containers" id="job">
            <div class="job-card" >
                <% for (var i = 0; i <employer.length; i++) {        %> 
                    <p>Company name: <%= employer[i].name %> </p>
                    <br>
                    <p>Email: <%= employer[i].email %> </p> 
                    <br>
                    <p>Website: <%= employer[i].website %> </p> 
                    <br>
                    <p>Description: <%= employer[i].description %> </p> 
                    <br>
                    <hr>
                    <br>
                    <% } %> 
            </div>

        </div>
    </section>
    <script src="./allJobs.js"></script>
</body>

<footer>
    <div class="copyright">
        <p>&copy; 2023, <a href="#">Devarsh Nagrecha</a> - Job Portal</p>
    </div>
</footer>

</html>