<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Factory | Student</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <nav>
            <h2>Job Factory</h2>
            <ul class="left">
                <li><a href="/">Home</a></li>
                <li><a href="/allJobs">Jobs</a></li>
                <li><a href="/allEmployers">Employers</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <div class="header">
            <h1>Candidate Login</h1>
        </div>
    </section>
     
    <section>
        <div class="form-container">
            <div class="icon-container">
                <img src="/img/professor.png" style="height:150px">
            </div>
            <form action="/candidateLogin" method="post">
                <input type="email" name="email" placeholder="Email ID" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" name="submit">Login</button>
            </form>
            <br>  
            <hr>
            <br>
            <div class="below-form">
                <h5>Haven't registered yet?  <a href="/candidateSignup">Sign Up</a></h5>
                
                <!-- <button onclick="window.location.href = '/candidateSignup';">Register</button> -->
            </div> 
        </div>
    </section>
    <div class="error-mssg">
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
    </div>
    <hr>
    <section>
        
    </section>
</body>
<footer>
    <div class="copyright">
        <p>&copy; 2023, <a href="#">Devarsh Nagrecha</a> - Job Portal</p>
    </div>
</footer>

</html>