<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Factory | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <nav>
            <div class="symbol">
                <h2><a href="/">Job Factory</a></h2>
            </div>
            <ul class="left">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/allJobs">Jobs</a></li>
                <li><a href="/allEmployers">Employers</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <div class="intro">
            <div class="icon-tab">
                <img src="/img/company.png" alt="">
                <br>
                <h2>100</h2>
                <h4>Companies</h4>
            </div>
            <hr>
            <div class="icon-tab">
                <img src="/img/job-seeker.png" alt="">
                <br>
                <h2>500</h2>
                <h4>Jobs</h4>
            </div>
            <hr>
            <div class="icon-tab">
                <img src="/img/vacancy.png" alt="">
                <br>
                <h2>1000</h2>
                <h4>Vacancies</h4>
            </div>
            <hr>
            <div class="icon-tab">
                <img src="/img/candidates.png" alt="">
                <br>
                <h2>10000</h2>
                <h4>Candidates</h4>
            </div>
            <hr>
            <div class="icon-tab">
                <img src="/img/email.png" alt="">
                <br>
                <h2>5000</h2>
                <h4>Candidates Placed</h4>
            </div>
        </div>
    </section>
    <hr>
    <br>
    <br>
    <section>
        <h2 class="sub-header">How do you want to use Job Factory?</h2>
        <div class="main-container">
            <div class="company-container">
                <div>
                    <h3>Employer Login</h3>
                </div>
                <div class="company-login-btn">
                    <!-- <% if (candAuth == 1) { %>
                        <button onclick="window.location.href = '/employerLogin';" disabled>Click here</button>
                    <% } else { %>
                        <button onclick="window.location.href = '/employerLogin';">Click here</button>
                    <% } %>  -->
                    <button onclick="window.location.href = '/employerLogin';">Click here</button>
                </div>
            </div>

            <div class="student-container">
                <div>
                    <h3>Candidate Login</h3>
                </div>
                <div class="student-login-btn">
                    <!-- <% if (empAuth == 1) { %>
                        <button onclick="window.location.href = '/candidateLogin';" disabled>Click here</button>
                    <% } else { %>
                        <button onclick="window.location.href = '/candidateLogin';">Click here</button>
                    <% } %>  -->
                    <button onclick="window.location.href = '/candidateLogin';">Click here</button>
                </div>
            </div>
        </div>
    </section>

    <script src="/index.js"></script>

</body>

<footer>
    <div class="copyright">
        <p>&copy; 2023, <a href="#">Devarsh Nagrecha</a> - Job Portal</p>
    </div>
</footer>

</html>